#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html{
  width:100%;
  height:100%;
  overflow-x: hidden;
  background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(202,163,227,1) 35%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  margin: 0;
  color: purple;
}

  /****** Home page*****/
  .homeContainer{
    display:flex;
    flex-direction: column;
    margin: auto;
  }

  label{
    margin:10px;
  }

  input{
    border-radius:10px;
    padding:10px;
  }
  
.beginButton{
  width:300px;
}

  /*******Navigation*******/
  nav{
    width:100%;
  }

  .nav-link{
    text-decoration: none;
  color: purple;
  }

  nav li{
    float: right;
    list-style-type: none;
    text-decoration: none;
    height: 50px;
    line-height: 33px;
    padding: 0 10px; 
    font-size: 20px;
    transition: .5s;
    }

    .nav-link:hover{
    background: purple;
    color:white;
    }
  
  
  /*****Game page******/
.party{
  margin:100px;
}
  h2{
    font-size: 25px;
    color:purple;
    text-decoration: underline double;
  }
  
  .buttonsContainer{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button{
    margin:30px;
    font-size: 20px;
    border-radius: 10px;
    width:100px;
    padding:10px;
    border-color: white;
    font-weight:bold;
    background-color: #800080;
    color:antiquewhite;
  }

  button:hover{
    transform: translate(2px,5px);
    box-shadow: 10px 5px 5px violet;
  }

  /*******Liste Users *******/
  .usersH1{
    margin-top:150px;
  }

  .users{
    list-style-type: none;
    margin:15px;
  }

  .users:hover{
    scale:1.5;
  }

  .usersList{
    color:purple;
    text-decoration: none;
  }