/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
html{
  width:auto;
  height:900px;
  background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(202,163,227,1) 35%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
}
  
  
  h2{
    font-size: 25px;
    color:purple;
    text-decoration: underline double;
  }
  
  .buttonsContainer{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button{
    margin:30px;
    font-size: 20px;
    border-radius: 10px;
    width:100px;
    padding:10px;
    border-color: white;
    font-weight:bold;
    background-color: #800080;
    color:antiquewhite;
  }

  button:hover{
    transform: translate(2px,5px);
    box-shadow: 10px 5px 5px violet;
  }*/
